@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model tp3sandramourali.Models.Person
}
@{
    ViewData["Title"] = "ALL PERSONS";
}



@{
    tp3sandramourali.Models.Person p = Model;
    if (Model == null)
    {

        <div style="display: flex;justify-content:space-evenly; align-items:center;width:100% ">
            <h1>
                Cet ID est
                invalide
            </h1>
            <h3>
                <a asp-action="all">ALL Persons</a>
            </h3>
        </div>
    }
    else
    {
        <div style="display: flex;justify-content:space-evenly; align-items:center;width:100% ">

            <h1>Persons @Model.id</h1>
            <h3>
                <a asp-action="all">ALL Persons</a>
            </h3>
        </div>
        <dl class="row">
            <dt class="col-sm-2">
                id
            </dt>
            <dd class="col-sm-10">
                @p.id
            </dd>
            <dt class="col-sm-2">
                first_name
            </dt>
            <dd class="col-sm-10">
                @p.first_name
            </dd>
            <dt class="col-sm-2">
                last_name
            </dt>
            <dd class="col-sm-10">
                @p.last_name
            </dd>
            <dt class="col-sm-2">
                email
            </dt>
            <dd class="col-sm-10">
                @p.email
            </dd>
            <dt class="col-sm-2">
                image
            </dt>
            <dd class="col-sm-10">
                @p.image
            </dd>
            <dt class="col-sm-2">
                country
            </dt>
            <dd class="col-sm-10">
                @p.country
            </dd>
        </dl>

    }
}
